

// Button 1
@colour1: #4168f4;
@colour2: #3bd1f3;

// Button 2
@colour3: #fa80d2;
@colour4: #fed730;

// Button 3
@colour5: #60aab9;
@colour6: #79f391;

// Button 4
@colour7: #525a69;
@colour8: #7f83d2;


.blur(@blur) {
  -webkit-filter: blur(@blur);
  -moz-filter: blur(@blur);
  -ms-filter: blur(@blur);
  filter: blur(@blur);
}


.button(base) {
  .text(label);

  position: relative;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  text-decoration:    none;
  border-radius:      2em;
  line-height:        inherit;
  display:            inline-block;
  padding:            0.3em 0.9em;
  margin:             0;
  border:             none;
  height:             auto;
  width:              auto;
  color:              white;
  background-color:   @color-primary;
  font-weight:        300;

  &.only-icon {
    padding: 0.3em;

    svg {
      width: 3em;
      height: 3em;
      display: block;
    }
  }
}


button,
.button {
  .button(base);
  transition:250ms all;
  background-size: 200% 150%;
  background-position: 0px 0px;

  &:hover {
    background-position: 50% 50%;

    &::after,
    &::before {
      .blur(0.1rem);
      background-size: 150%;
    }
  }

  &:focus {
    outline: none;
    border-color: transparent
  }

  &::after,
  &::before {
    content: "";
    z-index: -1;
    position:             absolute;
    border-radius:        150px;
    background-size:      inherit;
    background-position:  inherit;
    opacity:              0.6;
    transition:           600ms all;
    mix-blend-mode:       hard-light;
  }

  &::before {
    .blur(0.3rem);
    top:    -1%;
    left:   1%;
    width:  102%;
    height: 107%;
    background-size: 200%;
    transform: rotate(1deg);
  }

  &::after {
    .blur(2rem);
    opacity: 0.3;
    top:    -7%;
    left:   -3%;
    width:  104%;
    height: 104%;
    background-size: 200%;
    // filter: blur(16px);
  }

  &:nth-child(4n) {
    .button(2) }
  &:nth-child(4n+1) {
    .button(3) }
  &:nth-child(4n+2) {
    .button(4) }
  &:nth-child(4n+3) {
    .button(1) }
}

button.display,
.button.display {
  .button(display)
}


.button(display) {
  display: block;
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 150px;
  padding: 1.5em;
  background-repeat: repeat;
  background-size: 200%;
  background-position: 100% 0;
  background-clip: padding-box;
  position: relative;
  transition:250ms all;
  word-break: keep-all;
  white-space: nowrap;

  .button(1);

  &:hover {
    background-position: 0 0;
    &::before {
      .blur(1rem);
    }
  }

  &:focus {
    outline: none;
    border-color: transparent
  }

  &::after,
  &::before {
    content: "";
    z-index: -1;
    position:             absolute;
    border-radius:        150px;
    background-size:      inherit;
    background-position:  inherit;
    opacity:              0.6;
    transition:           600ms all;
    mix-blend-mode:       hard-light;
  }

  &::before {
    .blur(0.25rem);
    top:    -3%;
    left:   0%;
    width:  104%;
    height: 110%;
    background-size: 300%;
    transform: rotate(180deg);
  }

  &::after {
    opacity: 0.2;
    .blur(2.5rem);
    top:    -7%;
    left:  0%;
    width:  104%;
    height: 120%;
    background-size: 200%;
    // filter: blur(16px);
  }
}

.button(1) {
  background-image: linear-gradient(110deg, @colour1, @colour2);
  &::before {
    background-image: linear-gradient(90deg, @colour1, transparent);
  }
  &::after {
    background-image: linear-gradient(90deg, transparent, @colour2);
  }
}


.button(2) {
  background-image: linear-gradient(120deg, @colour3, @colour4);
  &::before {
    background-image: linear-gradient(90deg, @colour3, transparent);
  }
  &::after {
    background-image: linear-gradient(90deg, transparent, @colour4);
  }
}

.button(3) {
  background-image: linear-gradient(130deg, @colour5, @colour6);
  &::before {
    background-image: linear-gradient(90deg, @colour5, transparent);
  }
  &::after {
    background-image: linear-gradient(90deg, transparent, @colour6);
  }
}

.button(4) {
  background-image: linear-gradient(120deg, @colour7, @colour8);
  &::before {
    background-image: linear-gradient(90deg, @colour7, transparent);
  }
  &::after {
    background-image: linear-gradient(90deg, transparent, @colour8);
  }
}
