
@shadow: 1px 0px 3px fade(black, 4%);

input {
  flex:               1 1 auto;
  width:              auto;
  border:             1px solid;
  border-radius:      2px;
  margin:             0.5em;
  padding:            0;
  display:            flex;
  box-sizing:         border-box;
  appearance:         none;
  -moz-appearance:    none;
  -webkit-appearance: none;


  &[type='color'],
  &[type='radio'],
  &[type='checkbox'] {
    flex:     0 0 auto;
    width:    1.6em;
    height:   1.6em;
    overflow: hidden;
  }

  &[type='color'] {
    border:        none;
    border-radius: 50%;
  }

  &[type='checkbox'] {
    background:   transparent;
    &:checked {
      background: currentColor }
  }

  &[type='range'] {
    border: none;
  }

  &[type='text'],
  &[type='search'] {
    box-shadow: @shadow;
    border-color: fade(black, 15%);
    height: 2.2em;
  }
}
