
@loader-size: 8vw;
@loader-width: 2px;

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg)
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg)
  }
}
.loading {
  .layout(keep-center);

  border-color:       transparent
                      @color-primary
                      transparent
                      @color-secondary;
  border-radius:      50%;
  border-width:       @loader-width;
  border-style:       solid;
  width:              @loader-size;
  height:             @loader-size;
  z-index:            8000;
  display:            block;
  animation:          rotate 2s linear infinite;
  box-sizing:         border-box;
  appearance:         none;
  -moz-appearance:    none;
  -webkit-appearance: none;
}
