

.layout(center) {
  top:        50%;
  left:       50%;
  position:   absolute;
  transform:  translate(-50%, -50%);
  text-align: center;
}

.layout(keep-center) {
  .layout(center);
  position:   fixed;
}


.onlyWhen(@attribute, @value, @content) {
  @selector: ~"html[data-@{attribute}='@{value}']";

  @{selector} & {
    @content();
  }
}
