
@icon-stroke-width: 1.5px;

svg {
  stroke-width:    @icon-stroke-width }

.outline,
.fill {
  stroke:          currentColor;
  stroke-width:    inherit;
  vector-effect:   non-scaling-stroke;
  stroke-linecap:  round;
  stroke-linejoin: round }

.outline {
  fill: transparent }

.fill {
  fill: currentColor }


// Layouts
.preview {
  flex:           1 0 auto;
  display:        flex;
  position:       relative;
  flex-direction: column;

  svg {
    flex: 1 0 auto;
  }
}


// Svg elements
svg.sprite {
  top:      0;
  left:     0;
  right:    0;
  bottom:   0;
  width:    100%;
  height:   100%;
  display:  block;
  position: absolute;
  stroke-width: @icon-stroke-width * 3;
}

.icon-vector-src {
  display: none;
}
