
@list-entry-background-color: transparent;
@list-entry-background-color-hover: #f0f0ff;


// Main icon grid
.icon.list {
  margin:          0 4vw;
  padding:         0;
  display:         flex;
  flex-wrap:       wrap;
  list-style:      none;
  justify-content: center }


// Icon grid entries
.icon.entry {
  cursor:           pointer;
  width:            1em;
  padding:          1rem;
  display:          block;
  text-align:       center;
  box-sizing:       content-box;
  transition:       250ms background-color, 250ms padding;
  justify-content:  center;
  background-color: @list-entry-background-color;

  .onlyWhen(preview-show-labels, true, {
    padding-right: 1em });

  &:hover {
    background-color: @list-entry-background-color-hover }

  article {
    height:          0;
    display:         block;
    position:        relative;
    padding-bottom:  100% }

  header {
    .text(label);
    top:              50%;
    left:             100%;
    display:          none;
    padding:          0 0 0 1em;
    position:         absolute;
    transform:        translateY(-50%) scale(.5);
    text-align:       left;
    font-size:        0.2em;
    transform-origin: left;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;


    .onlyWhen(preview-show-labels, true, {
        display: block })
  }
}
