
@import (reference) "functions";
@import (reference) "variables";

@import "components/button";
@import "components/loader";
@import "components/fields";
@import "icons";
@import "lists";
@import "overlays";
@import "text";

@import "preview-options";


html {
  background-color: @color-gray-lightest;
  font-size: @size-base }

body {
  margin:     0;
  padding:    0;
  min-height: 100vh }


header.page {
  height: 100vh;
  position: relative;
  overflow: hidden;

  > div {
    .layout(center) }

  h1 {
    line-height: @header-line-height;
    white-space: nowrap;
    display:     block;
    padding:     0;
    margin:      0;

    @media screen and (max-width: 480px) {
      font-size: 1.2em }
  }

  sub {
    .text(label);

    display:     block;
    padding:     @header-padding 0;
    line-height: @header-line-height }

  .icon {
    .text(label);

    display:     block;
    white-space: nowrap }


  // Diagonal
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: -30px;
    right: -30px;
    box-shadow: 0px -10px 10px fade(black, 5%);
    z-index: 100000;
    transform: rotate(-8deg);
    height: 100px;
    transform-origin: left;
    border-top: 1px solid fade(black, 5%);
  }
}


main.page {
  margin:     0 auto;
  padding:    0 0 20rem;
  max-width:  120rem;
  min-height: 100vh }

section.actions {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  overflow: hidden;

  .button.display {
    padding:     1em 2em;
    margin:      0 0.1rem;
    font-size:   1em;
    font-weight: 300;

    &:nth-of-type(1) {
      .button(3);
    }
    &:nth-of-type(2) {
      .button(1);
    }
    &:nth-of-type(3) {
      .button(4);
    }

    @media screen and (max-width: 480px) {
      font-size: 0.5em;
    }
  }

}
