
@dialog-padding:              4rem 6rem;
@dialog-text-color:           @text-color;
@dialog-border-radius:        3px;
@dialog-border-color:         darken(@dialog-background-color, 10%);
@dialog-backdrop-color:       fade(@color-gray-darker, 10%);
@dialog-background-color:     @color-gray-lighter;

@overlay-transition-duration: 300ms;
@overlay-transition-easing:   ease-in-out;



.layout(center) {
  top:       50%;
  left:      50%;
  position:  absolute;
  transform: translate(-50%, -50%) }


.border(@color) {
  @alpha: alpha(@color);

  & when (@alpha = 0) {
    border-width: 0px }

  & when (@alpha > 0) {
    border-width: 1px }

  border-style: solid;
  border-color: @color;
}



@keyframes toggle_overlay {
  0% {
    opacity:   0;
    transform: translateY(6vh) rotateX(6deg) rotateZ(-3deg)
  }

  to {
    opacity:   1;
    transform: none
  }
}


.overlays {
  top:              0;
  left:             0;
  right:            0;
  bottom:           0;
  z-index:          1000;
  position:         fixed;
  perspective:      800px;
  transform-style:  preserve-3d;
  transform-origin: center }

.overlays:empty {
  right:            100%;
  bottom:           100%;
  pointer-events:   none }



.overlay {
  flex-direction:   column;
  position:         fixed;
  display:          flex;
  cursor:           pointer;
  bottom:           0;
  right:            0;
  left:             0;
  top:              0;
  color:            white;

  &.fill {
    background-color: black;
  }

  &.dialog {
    cursor: initial;
    cursor: auto;
  }

  h2 {
    margin:         0;
    padding:        6rem 0 2rem;
    font-size:      3em;
    text-align:     center;
    font-weight:    100;
    letter-spacing: 0.15em;

    @media screen and (max-width: 480px) {
      font-size: 1em
    }

    .first.word {
      font-weight: 600 }
  }


  &.dialog {
    background-color: @dialog-backdrop-color;

    .content {
      .layout(center);
      .border(@dialog-border-color);

      border-radius: @dialog-border-radius;
      background:    @dialog-background-color;
      padding:       @dialog-padding;
      color:         @dialog-text-color;
      font-size:     0.8em;
      max-width:     92vw;
      max-height:    92vh;
      box-shadow:    0.4rem 1.2rem 3rem rgba(0,0,0,0.2);
      box-sizing:    border-box;
      white-space:   nowrap;
      overflow:      auto }
  }

  main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column }


  &.fade-in,
  &.fade-out {
    animation-timing-function: ease-in-out;
    animation: toggle_overlay
               @overlay-transition-duration
               @overlay-transition-easing }

  &.fade-out {
    animation-direction: reverse }

  .close {
    top:        0;
    right:      0;
    width:      3rem;
    height:     3rem;
    position:   absolute;
    font-size:  1.5rem;
    text-align: center }


  pre {
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: -0.05em;
    color: #5f6367;
    -webkit-font-smoothing: auto;
  }

  .toolbar {
    display:         flex;
    z-index:         200;
    align-items:     stretch;
    justify-content: center;
    position:        relative;

    > .button {
      position:     relative;
      font-size:    1.4em;
      margin-right: 0.5em;
    }
  }

}

pre.pippeli {
  position: relative;
  z-index:  100;
}

textarea.cippeli {
  appearance:         none;
  -webkit-appearance: none;
  -moz-appearance:    none;
  -ms-appearance:     none;

  background:   transparent;
  color:        rgba(0, 0, 0, 0.01);
  position:     absolute;
  display:      flex;
  height:       100%;
  width:        100%;
  left:         0;
  right:        0;
  bottom:       0;
  margin:       0;
  padding:      0;
  border-width: 0;

  &:focus {
    outline: none }
}
