
@preview-panel-toggle-size: 3em;

.preview-options {

  transition-property: max-height;
  transition-duration: 500ms;
  position:   fixed;
  z-index:    100;
  bottom:     0;
  right:      0;
  left:       0;

  button {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: 1s transform;
    width: @preview-panel-toggle-size;
    height: @preview-panel-toggle-size;
    box-sizing: content-box;
  }

  button svg {
    transition: 800ms transform ;
    transform: rotate(0deg)
  }

  .controls {
    padding:          1rem 2rem;
    display:          flex;
    align-items:      stretch;
    background-color: mix(@color-white, @color-gray-lightest);
    border-top:       1px solid mix(@color-gray-light, @color-gray-lighter);
    box-shadow:       0 0 2rem fade(black, 10%);
    padding-right:    2 * @preview-panel-toggle-size;
    flex-flow:        row wrap;

    label:not(:last-of-type) {
      padding-right: 1em;
    }

    label {
      flex:            0 0 auto;
      display:         flex;
      align-items:     stretch;
      flex-direction:  column;
      justify-content: space-between;
      transition:      400ms flex-grow;
    }

    label.active {
      flex-grow: 10;
      min-width: 50vw;
    }

    h3 {
      white-space:    nowrap;
      word-break:     keep-all;
      line-height:    1em;
      font-size:      0.62em;
      padding:        0 0.5em 0 0;
      margin:         0;
    }
  }

  &.hidden {
    max-height: 0 }

  &.expanded {
    max-height: 12rem;

    button svg {
      transform: rotate(120deg) }
  }

  @media screen and (max-width: 480px) {
    font-size: 0.85em;

    &.expanded {
      max-height: 50vh;
    }
  }
}
