
@type-fallback:   Montserrat, Questrial, Work Sans, Helvetica Neue, Roboto, Segoe UI, Arial;
@type-base:       'Encode Sans Semi Expanded', Poppins, @type-fallback;
@type-head:       Croissant One, Elsie, @type-fallback;
@type-line:       1.65;
@type-size:       22px;
@type-weight:     400;

// @type-uri-base:
//   'fonts.googleapis.com/css?family=Encode+Sans+Expanded|Croissant+One|Elsie|Poppins:100,200,300,400,500,600,700,800,900';
//
// @import (css) url('https://@{type-uri-base}@{type-uri-query}');



body {
  -webkit-font-smoothing: antialiased;
  text-rendering:         optimizelegibility;
  color:                  @text-color;
  font:                   @type-weight
                          @type-size/@type-line
                          @type-base }

h1,
h2,
h3,
h4 {
  font-size:      1em;
  font-weight:    @type-weight;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}


h1 {
  font-size:      2em;
  font-family:    @type-head;
  font-weight:    @type-weight + 100;
  letter-spacing: -0.08em;
  text-transform: none;
}

.text(label) {
  font-size:   0.65em;
  font-weight: @type-weight + 100;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}


pre {
    text-align: left;
    max-width: 100vw;
    font-size: 22px;
    line-height: 1.3em;
    letter-spacing: -0.05em;
}
