

@color-black:         #202224;
@color-gray-darkest:  #393c40;
@color-gray-darker:   #474b4f;
@color-gray-dark:     #6f7379;
@color-gray:          #aaaeb3;
@color-gray-light:    #c6cacf;
@color-gray-lighter:  #ebebeb;
@color-gray-lightest: #ecedef;
@color-white:         #ffffff;

@color-primary:       #1de986;
@color-secondary:     #a389d4;
@color-tertiary:      #ff4020;



@size-base:          10px;
@header-line-height: 1.4em;
@header-padding:     1rem;

@text-color:         @color-gray-darkest;
